@model PruebaTenicaFeb2023.Models.Alumno
<div class="container">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("SaveAlumno", "Alumno"))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="mb-3">
                    <label for="txtNombre" class="form-label">Nombre</label>
                    @Html.TextBoxFor(m => m.Nombre, new { @id = "txtNombre", @class = "form-control" })
                </div>
                <div class="mb-3">
                    <label for="txtNombre" class="form-label">Genero</label>
                    @Html.DropDownListFor(m => m.Genero, (IEnumerable<SelectListItem>)ViewBag.Generos, new { @id = "txtGenero", @class = "form-control" })

                </div>
                <div class="mb-3">
                    <label for="txtNombre" class="form-label">Fecha de Nacimiento</label>
                    @Html.TextBoxFor(m => m.FechaNac, "{0:yyyy-MM-dd}", new { @id = "txtFechaNac", @class = "form-control", @type="date"})
                    @*@Value = Convert.ToString(Model.FechaNac.ToShortDateString()) }*@
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            }
        </div>
    </div>
</div>
