@model PruebaTenicaFeb2023.Models.AlumnoGrado

<div class="container">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("DeleteAsignacion", "Asignaciones", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="mb-3">
                    <label for="txtNombre" class="form-label">Alumno</label>
                    @Html.DisplayFor(m => m.Alumno.Nombre, new { @class ="form-label" })

                </div>
                <div class="mb-3">
                    <label for="txtNombre" class="form-label">Grado</label>
                    @Html.DisplayFor(m => m.Alumno.Nombre, new { @class ="form-label" })
                </div>
                <div class="mb-3">
                    <label for="txtNombre" class="form-label">Seccion</label>
                    @Html.DisplayFor(m => m.Seccion, new { @id = "txtSeccion", @class = "form-label" })
                </div>
                <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
            }
        </div>
        <div id="confirmDialog" title="Save Student" hidden>
            <p>Do you want to save changes</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(
        function (){
            $("#btnSubmit").click(function(e) {
                e.preventDefault();
                $("#confirmDialog").dialog("open");
            });

            $("#confirmDialog").dialog({
                autoOpen:false,
                modal: true,
                resizable: false,
                buttons: {
                    "OK": function (){
                        $('form').submit();
                    },
                    "Cancel":function (e){
                        $(this).dialog("close");
                    }
                }
            });
        }    
    )
</script>